#Nome { 
    font-family: Georgia; 
    text-align: center; 
    margin-top: -580;
    margin-left: 200;
}
#brinks {
    font-family: Courier New; 
    text-align: center; 
    margin-top: 1mm;
    margin-left: 200;
}
#d {
    font-family: Helvetica; 
    text-align: center;
    font-size: 20px;
    font-family: monospace;
    font-style: italic;
    margin-left: 200
}
#eu {
    margin-left: 60%;
}
#music {
    margin-top: -230; 
    margin-left: 1060; 
    width:250;
}
#id {   
    overflow: hidden;
    width: 600;
    height: 400;
    margin-top: 200px;
    
}
#bb {
    font-size: 20px;
    font-family: monospace;
    font-style: italic;
    text-align: center;
}
#ass {
    font-size: 20px;
    font-family: monospace;
    font-style: italic;
    text-align: center;
    font-size: 20;
    margin-top: 380;
}